@import url(https://fonts.googleapis.com/css?family=Droid+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    color: white;
    background-color: black;
}

.container h1 {
    font-size: 38px;
    font-family: 'Droid Sans', sans-serif;
}

.container h2 {
    color: #a7a4a4;
    margin-top: 0;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}

.container button {
    background-color: #FF4500;
    color: white;
}

.container {
    background-color: #363636;
 /*   background-image: url("img/composite grid.jpg");*/
    padding: 3em; 
    margin: 3em;
}

footer {
    background-color: #363636;
    border-bottom: 3px solid #FF4500;
    padding: 1em;
}

@media screen and (min-width: 768px) {
    .container h1 {
        font-size: 72px;
    }

    .container h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .container h1 {
        font-size: 100px;
    }

    .container h2 {
        font-size: 36px;
    }

    .container label {
        font-size: 24px;
    }

    footer {
        padding: 2em;
    }
}